@import "../../styles/variables.scss";

@mixin keybase {
  background-color: $backgroundColorSecondary;
  cursor: pointer;
  border: 1px solid $textColor;
  border-radius: 3px;
  color: $textColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
  gap: 5px;
}
.rowKeysContainer {
  width: 100%;
  display: flex;
  gap: 5px;
}

.key {
  @include keybase;
  width: 100%;
  height: 70px;
}

.emptyKey {
  width: 25px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterKey {
  @include keybase;
  width: 70px;
  height: 70px;
}
