@import "./styles/variables.scss";

body {
  background-color: $backgroundColor;
  font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
  max-width: ($size * 5) + ($gap * 5);
  width: 100%;
  margin: 20px auto;
}

button {
  all: unset;
  cursor: pointer;
}
